body{
  margin: 0px;
}
/*Header and nav design*/
header{
  background-color: #EEE8DA;
}
.header-wrapper{
  max-width: 1024px;
}
.logo, .headline{
  vertical-align: middle;
}
.headline{
  display: inline-block;
}
.logo{
  height: 120px;
  margin-left: 8px;
  margin-top: 8px;
}
.nav-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100;
  margin-top: 20px;
}
h1, h3 {
  color: #2D2A2A;
}

/*Nav link states*/
li1:hover {
    background-color: #abc4eb;
}
li2:hover {
    background-color: #abc4eb;
}
li3:hover {
    background-color: #abc4eb;
}
li4:hover {
    background-color: #abc4eb;
}
a:link {
  text-decoration: none;
  color: #2D2A2A
}
a:before {
  text-decoration: none;
  color: #2D2A2A;
}
a:active {
  text-decoration: none;
  color: #2D2A2A;
}
a:visited {
  text-decoration: none;
  color: #2D2A2A;
}


/*Index main area*/
.index-wrapper{
  height: 600px;
  width: 100%;
  display: block;
  margin-top: 25px;
}
.overlay{
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 1500px;
  height: 536px;
  margin-left: 9.6px;
  text-align: center;

}
.text-overlay{
  font-size: 75px;
  padding-top: 15%;
  width: 1500px;
  height: 536px;
  color: black;

}
.overlay:hover{
  opacity: 35%;
  background-color: lightgrey;
}

.indexim{
  display: block;
  margin-left: 9.6px;
  margin-right: auto;
  position: absolute;
}

/*My work main area*/
#i{
  text-align: center;
    letter-spacing: 3px;
}
.content-wrapper1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content-wrapper2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.characterim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}
.landscapeim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}
.portraitim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;

}
.photoim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}
.videoim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}
.animationim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}

/*My work character design page main area*/
.character-wrapper{
  display: grid;
  grid-template-columns: 1fr fra
}

/*Footer*/
.footer-wrapper{
  margin-top: 0 px;
  background-color: #EEE8DA;
}
h4{
  color: #2D2A2A
}
#c{
  margin-left: 27px;
}
.symbols{
    height: 120px;
}
.contact, .symbols{
    vertical-align: middle;
}
.contact{
  display: inline-block;
}
