body{
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;
}
/*Header and nav design*/
header{
  background-color: #EEE8DA;
  width: 100%;
}
.logo, .headline{
  vertical-align: middle;
}
.headline{
  display: inline-block;
}
.logo{
  height: 120px;
  margin-left: 8px;
  margin-top: 8px;
}
.nav-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  margin-left: 800px;
  letter-spacing: 3px;
  font-size: 20px;
}
h1, h3{
  font-weight: lighter;
  margin-bottom: 5px;
}

/*Nav link states*/
/*Reference, how to change link color: https://stackoverflow.com/questions/10312857/blue-and-purple-default-links-how-to-remove*/
.nav1:hover {
  background-color: #abc4eb;
}
.nav2:hover {
  background-color: #abc4eb;
}
.nav3:hover {
  background-color: #abc4eb;
}
.nav4:hover {
  background-color: #abc4eb;
}
a:link {
  text-decoration: none;
  color: black;
}
a:before {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

/*Index main area*/
.index-wrapper{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.overlay{
  position: relative;
  display: flex;
  justify-content: space-around;
}
.text-overlay{
  font-size: 75px;
  padding-top: 15%;
  width: 1384.8px;
  height: 287px;
  color: black;
  text-align: center;
  margin-bottom: 5px;
}
.overlay:hover{
  opacity: 35%;
  background-color: lightgrey;
}
.indexim1{
  position: absolute;
  width: 1384.8px;
}
.indexim2, .indexim3{
  display: none;
}

/*My work main area*/
.il{
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 25px;
  margin-top: 25px;
}
p{
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.content-wrapper1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 420px;
}
.content-wrapper2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 420px;
}
.o1:hover{
  opacity: 60%;
  background-color: lightgrey;
  height: 350px;
}
.workim{
  height: 350px;
  width: 350px;
}

/*My work sub pages main area*/
.character-wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
.container1{
    display: flex;
    margin-left: 25px;
    margin-bottom: 10px;
    width: auto;
  }
.characterim{
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .video-container{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .photoim{
    width: 400px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 40px;
  }
.photo-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  width: auto;
  }
.character-text-wrapper{
  width: 700px;
  margin-left: 30px;
  margin-top: 25px;
  }
h2{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 22px;
  }
.bottom-nav-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  letter-spacing: 3px;
  font-size: 20px;
}
.contenttext{
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
  padding-left: 2px;
}
.nav5:hover{
  background-color: #abc4eb;
}
.nav6:hover{
  background-color: #abc4eb;
}
.nav7:hover{
  background-color: #abc4eb;
}

/*About page main area*/
.about-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
}
.image-wrapper{
  height: 550px;
  width: auto;
  margin-right: 25px;
}
.aboutim{
  height: 500px;
  width: auto;
  margin-top: 25px;
  margin-left: 75px;
  margin-bottom: 25px;
}
.about-text-wrapper{
  display: flex;
  flex-direction: column;
  width: 500px  ;
  margin-right: 500px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 40px
}
.ab{
  margin-top: 0px;
  margin-bottom: 20px;
}
.skill-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
}
.good{
    padding-left: 20px;
  }
ul{
  padding-left: 15px;
  margin-top: 8px;
}
h3{
  margin-top: 0px;
}
.abouttext1{
  margin-bottom: 50px;
  margin-top: 0px;
  text-align: left;
  padding: 0px;
}
/*Footer*/
h4{
  font-weight: normal;
  font-size: 18px;
}
.footer-wrapper{
  margin-top: 20px;
  background-color: #EEE8DA;
  margin-bottom: 0%;
}
.symbols{
    height: 120px;
}
.contact, .symbols{
    vertical-align: middle;
}
.contact{
  display: inline-block;
}

/*Breaking points*/
/*Laptop design*/
@media only screen and (max-width: 1401px){
  /*Header and nav design*/
    .nav-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
      margin-top: 20px;
      margin-left: 0;
      letter-spacing: 3px;
      font-size: 22px;
    }
  /*Index main area*/
    .index-wrapper{
      display: flex;
      justify-content: space-around;
    }
    .indexim1{
      width: 1119.4px;
    }
    .text-overlay{
      width: 1119.4px;
      height: 270px;
      padding-top: 145px;
    }
    .overlay:hover{
      height: 400px;
      width: auto;
    }
  /*My work main area*/
  body{
    height: auto;
  }
    .content-wrapper1{
      height: 350px;
      margin-bottom: 50px;
    }
    .content-wrapper2{
      height: 350px;
      margin-bottom: 50px;
    }
    .workim{
      height: 300px;
      width: 300px;
    }
    .o1:hover{
      opacity: 60%;
      background-color: lightgrey;
      height: 280px;
    }
    p{
      font-size: 25px;
    }
    /*My work sub pages main area*/
    .characterim{
      width: 400px;
    }
    .character-text-wrapper{
      width: auto;
      margin-right: 10px;
    }
    .bottom-nav-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-top: 10px;
      margin-right: 25px;
      letter-spacing: 3px;
      font-size: 25px;
    }
    /*About page main area*/
    .about-text-wrapper{
      margin-left: 40px;
      width: 500px;
    }
  }

/*Tablet landscape view design (large tablet)*/
@media only screen and (max-width: 1281px){
  /*Header and nav design*/
  .nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-top: 20px;
    margin-left: 0;
    letter-spacing: 3px;
    font-size: 22px;
  }
  /*Index main area*/
  .index-wrapper{
    display: flex;
    justify-content: space-around;
  }
  .indexim1{
    width: 1000px;
    height: auto;
  }
  .text-overlay{
    width: 1000px;
    height: 228px;
    padding-top: inherit;
    padding-top: 130px;
  }
  .overlay{
    height: 358px;
  }
  .overlay:hover{
    height: 358px;
    width: auto;
  }
  /*My work main area*/
  .content-wrapper1{
    height: 250px;
    margin-bottom: 110px;
  }
  .content-wrapper2{
    height: 250px;
    margin-bottom: 110px;

  }
  .workim{
    height: 275px;
    width: 275px;
  }
  .o1:hover{
    opacity: 60%;
    background-color: lightgrey;
    height: 220px;
  }
  p{
    font-size: 20px;
  }
  .il{
    font-size: 28px;
  }
  /*My work sub pages main area*/
  .characterim{
    width: 400px;
  }
  .character-text-wrapper{
    width: auto;
    margin-right: 10px;
  }
  .bottom-nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 25px;
    letter-spacing: 3px;
    font-size: 25px;
  }
  /*About page main area*/
  .about-text-wrapper{
    margin-left: 40px;
    width: 500px;
  }
}

/*Tablet landscape view design (small tablet) and tablet portrait view design (large tablet)*/
@media only screen and (max-width: 1025px){
  /*Header and nav design*/zzz
  .nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-top: 20px;
    margin-left: 0;
    letter-spacing: 3px;
    font-size: 22px;
  }
  /*Index main area*/
  .index-wrapper{
    display: flex;
    justify-content: space-around;
  }
  .indexim1{
    width: 900px;
    height: auto;
  }
  .text-overlay{
    width: 900px;
    height: 200px;
    padding-top: inherit;
    padding: 90px;

  }
  .overlay{
    height: 321.6px;
    width: 900px;
  }
  .overlay:hover{
    width: 900px;
    height: 321.6px;
  }
  /*My work main area*/
  .content-wrapper1{
    height: 250px;
    margin-bottom: 110px;
  }
  .content-wrapper2{
    height: 250px;
    margin-bottom: 110px;

  }
  .workim{
    height: 250px;
    width: 250px;
  }
  .o1:hover{
    opacity: 60%;
    background-color: lightgrey;
    height: 220px;
  }
  p{
    font-size: 20px;
  }
  .il{
    font-size: 28px;
  }
  /*My work sub pages main area*/
  .worktitle{
    margin-bottom: 12px;
  }
  .characterim{
    width: 400px;
  }
  .character-text-wrapper{
    width: auto;
    margin-right: 10px;
  }
  .bottom-nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 25px;
    letter-spacing: 3px;
    font-size: 25px;
  }
  /*About page main area*/
  .about-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image-wrapper{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
  }
  .photoim{
    width: 350px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .about-text-wrapper{
    margin-left: 40px;
    width: 325px;
    padding-right: 10px;
  }
  .familiar{
    width: 150px;
  }
  /*Footer design*/
  .footer-wrapper{
    height: 200px;
  }
  .symbols{
    display: block;
    margin-left: auto;
    margin-right: 46%;
    margin-top: 0px;
  }
  .contact{
    display: flex;
    justify-content: space-around;
  }
}

/*Tablet portrait design (small)*/
@media only screen and (max-width: 769px){
  /*Header and nav design*/
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .headline{
    font-size: 12px;
    display: block;
    text-align: center;
  }
  .nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 35px;
    margin-left: 0;
    font-size: 18px;
  }
  .nav1{
    padding-left: 35px;
  }
  .nav4{
    padding-right: 35px;
  }
  /*Index main area*/
  .index-wrapper{
    display: flex;
    justify-content: space-around;
  }
  .indexim1{
    display: none;
  }
  .indexim2{
    display: inherit;
    display: block;
    position: absolute;
    width: 725px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .text-overlay{
    width: 501px;
    padding-top: inherit;
    padding-top: 200px;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 52px;
  }
  .overlay{
    width: 725px;
    height: 501px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .overlay:hover{
    width: 725px;
    height: 501px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  /*My work main area*/
  .content-wrapper1{
    height: 180px;
  }
  .content-wrapper2{
    height: 160px;
  }
  .workim{
    height: 200px;
    width: 200px;
  }
  .o1:hover{
    opacity: 60%;
    background-color: lightgrey;
    height: 200px;
  }
  p{
    font-size: 18px;
  }
  .il{
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  /*My work sub pages main area*/
  h2{
    text-align: center;
    width: auto;
    font-size: 20px;
    margin: 10px;
  }
  .contenttext{
    text-align: center;
    margin-top: 12px;
  }
  .characterim{
    width: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .worktitle{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .video-container{
    width: 350px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .photoim{
    width: 250px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .container1{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .character-text-wrapper{
    font-size: 12px;
    display: block;
    text-align: center;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
  }
  .bottom-nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-right: 0px;
    letter-spacing: 3px;
    font-size: 25px;
  }
  /*About page main area*/
  h3{
    margin-top: 0px;
    font-size: 20px;
  }
  li, p1{
    font-size: 18px;
  }
  .about-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .aboutim{
    width: 300px;
    height: auto;
    float: right;
  }
  .image-wrapper{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
  }
  .about-text-wrapper{
    margin-left: 10px;
    padding-right: 5px;
    width: auto;
  }
  .familiar{
    width: 150px;
  }
  .good{
      padding-left: 5px;
  }
  /*Footer design*/
  .symbols{
    display: none;
  }
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
}

/*Mobile design*/
@media only screen and (max-width: 415px){
  /*Header and nav design*/
  header {
    width: auto;
  }
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .headline{
    font-size: 12px;
    display: block;
    text-align: center;
  }
  .nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    margin-left: 0;
    text-align: center;
  }
  .nav1, .nav2, .nav3, .nav4{
    font-size: 13px;
  }
  .nav1{
    padding-left: 10px;
  }
  .nav4{
    padding-right: 10px;
  }
  .line{
    padding: 0px;
  }
  h1{
    font-size: 22px;
  }
  h3{
    font-size: 15px;
    margin-top: 5px;
  }
  /*Index main area*/
  .index-wrapper{
    display: flex;
    justify-content: space-around;
  }
  .indexim1{
    display: none;
  }
  .indexim2{
    display: none;
  }
  .indexim3{
    display: inherit;
    display: block;
    position: absolute;
    width: 360px;
  }
  .text-overlay{
    width: 360px;
    padding-top: inherit;
    padding-top: 45px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 60px;
  }
  .overlay{
    width: 360px;
    height: 360px;
    margin: 0px;
  }
  .overlay:hover{
    width: 360px;
    height: 360px;
    margin: 0px;
  }
  /*My work main area*/
  .content-wrapper1{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 1350px;
    width: 350px;
  }
  .content-wrapper2{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 1350px;
    width: 350px;
  }
  .workim{
    height: 350px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .o1:hover{
    opacity: 60%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 416.4px;
    width: 350px;
  }
  p{
    font-size: 22px;
  }
  .il{
    font-size: 25px;
    margin-bottom: 10px;
  }
  /*My work sub pages main area*/
  h2{
    text-align: center;
    width: auto;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
  .worktitle{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .characterim{
    width: 350px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .contenttext{
    margin-top: 12px;
  }
  .photoim{
    width: 170px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .container1{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .character-text-wrapper{
    font-size: 12px;
    display: block;
    text-align: center;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
  }
  .bottom-nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-right: 0px;
    letter-spacing: 3px;
    font-size: 20px;
  }
  /*About page main area*/
  .about-wrapper{
    display: flex;
    flex-direction: column;
  }
  .image-wrapper{
    width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .aboutim {
    width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .about-text-wrapper{
    margin: 15px;
    text-align: center;
  }
  p1{
    text-align: center;
    font-size: 16.5px;
    margin-bottom: 20px;
  }
  .ab{
    text-align: center;
    margin: 20px;
  }
  .skill-wrapper{
    margin-top: 0px;
    margin-left: 10px;
    text-align: center;
  }
  .abouttext2 {
    font-size: inherit;
    font-size: 20px;
  }
  li{
    font-size: 16.5px;
    text-align: left;
    margin-left: 15px;
  }
  .familiar{
    width: 150px;
    padding-left: 20px;
  }
  .good{
    padding-right: 60px;
  }
  /*Footer design*/
  footer{
    width: auto;
    margin-top: 30px;
  }
  .symbols{
    display: none;
  }
  .footer-wrapper{
    height: 270px;
  }
  .contact{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
}
