body{
  margin: 0px;
}
/*Header and nav design*/
header{
  background-color: #EEE8DA;
}
.header-wrapper{
  max-width: 1024px;
}
.logo, .headline{
  vertical-align: middle;
}
.headline{
  display: inline-block;
}
.logo{
  height: 120px;
}
.nav-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100;
  margin-top: 20px;
}

/*Nav link states*/
li1:hover {
    background-color: #abc4eb;
}
li1:active {
  text-decoration-color: lightgrey;
}
li2:hover {
    background-color: #abc4eb;
}
li2:active {
  text-decoration-color: lightgrey;
}
li3:hover {
    background-color: #abc4eb;
}
li3:active {
  text-decoration-color: lightgrey;
}
li4:hover {
    background-color: #abc4eb;
}
li4:active {
  text-decoration-color: lightgrey;
}

/*Main area*/
.index-wrapper{
  height: 600px;
  width: 100%;
  display: block;
  margin-top: 25px;
}
.indexim{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*My work main area*/
#i{
  text-align: center;
}
.content-wrapper1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content-wrapper2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.characterim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}
.landscapeim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}
.portraitim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;

}
.photoim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}
.videoim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}
.animationim{
  height: 350px;
  width: 350px;
  margin-bottom: 100.5px;
}



/*Footer*/
.footer-wrapper{
  margin-top: 0px;
  background-color: #EEE8DA;
}
#c{
  margin-left: 27px;
}
.symbols{
    height: 120px;
}
.contact, .symbols{
    vertical-align: middle;
}
.contact{
  display: inline-block;
}
