body{
  margin: 0px;
}
/*Header and nav design*/
header{
  background-color: #EEE8DA;
}
.header-wrapper{
  max-width: 1024px;
}
.logo, .headline{
  vertical-align: middle;
}
.headline{
  display: inline-block;
}
.logo{
  height: 120px;
  margin-left: 8px;
  margin-top: 8px;
}
.nav-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  margin-left: 920px;
  letter-spacing: 3px;
  font-size: 20px;
}
h1, h3 {
  color: #2D2A2A;
}

/*Nav link states*/
/*Reference, how to change link color: https://stackoverflow.com/questions/10312857/blue-and-purple-default-links-how-to-remove*/
li1:hover {
  background-color: #abc4eb;
}
li2:hover {
  background-color: #abc4eb;
}
li3:hover {
  background-color: #abc4eb;
}
li4:hover {
  background-color: #abc4eb;
}
a:link {
  text-decoration: none;
  color: #2D2A2A
}
a:before {
  text-decoration: none;
  color: #2D2A2A;
}
a:active {
  text-decoration: none;
  color: #2D2A2A;
}
a:visited {
  text-decoration: none;
  color: #2D2A2A;
}

/*Index main area*/
.index-wrapper{
  height: 544px;
  width: 100%;
  display: block;
  margin-top: 25px;
}
.overlay{
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 1500px;
  height: 536px;
  margin-left: 9.6px;
  text-align: center;

}
.text-overlay{
  font-size: 75px;
  padding-top: 15%;
  width: 1500px;
  height: 311px;
  color: black;

}
.overlay:hover{
  opacity: 35%;
  background-color: lightgrey;
}
.indexim{
  display: block;
  margin-left: 9.6px;
  margin-right: auto;
  position: absolute;
}

/*My work main area*/
#i{
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 25px;
  margin-bottom: 25px;
  margin-top: 0px;
}
#ow{
  text-align: center;
  margin-bottom: 25px;
  margin-top: 35px;
}
p{
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.content-wrapper1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 420px;
}
.content-wrapper2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 420px;
}
.o1:hover{
  opacity: 60%;
  background-color: lightgrey;
  height: 350px;
}
.workim{
  height: 350px;
  width: 350px;
}

/*My work sub pages main area*/
.character-wrapper{
  display: grid;
  grid-template-columns: 1fr;
}
.container1{
  display: flex;
  margin-left: 25px;
  margin-bottom: 10px;
}

.characterim{
  width: 500px;
  height: auto;
  margin-top: 50px;
}
.character-text-wrapper{
  padding-right: 400px;
  width: 500px;
  margin-left: 35px;

}
#ch{
  margin-top: 42px;
}
#back{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 25px;
  font-size: 22px;
}
#back:hover{
  background-color: #abc4eb;
}
/*About page main area*/
.about-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
}
.aboutim{
  height: 500px;
  width:auto;
  margin-left: 15px;
}
.about-text-wrapper{
  padding-right: 620px;
  width: 500px;
}
.bottom-nav-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  letter-spacing: 3px;
  font-size: 20px;

}
#ab{
  margin-top: 0px;
}
p1{
  text-align: left;
  font-size: 20px;
}
li5:hover{
  background-color: #abc4eb;
}
li6:hover{
  background-color: #abc4eb;
}
li7:hover{
  background-color: #abc4eb;
}
/*Footer*/
.footer-wrapper{
  margin-top: 20px;
  background-color: #EEE8DA;
  margin-bottom: 0%;s
}
.symbols{
    height: 120px;
}
.contact, .symbols{
    vertical-align: middle;
}
.contact{
  display: inline-block;
}
